<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Adcurve_Adcurve::config_adcurve_adcurve" title="adcurve"/>
						</resource>
					</resource>
				</resource>
				<resource id="Adcurve_Adcurve::Connection" sortOrder="10" title="Connection">
					<resource id="Adcurve_Adcurve::Connection_save" sortOrder="10" title="Save Connection"/>
					<resource id="Adcurve_Adcurve::Connection_delete" sortOrder="20" title="Delete Connection"/>
					<resource id="Adcurve_Adcurve::Connection_update" sortOrder="30" title="Update Connection"/>
					<resource id="Adcurve_Adcurve::Connection_view" sortOrder="40" title="View Connection"/>
				</resource>
				<resource id="Adcurve_Adcurve::Queue" sortOrder="10" title="Queue">
					<resource id="Adcurve_Adcurve::Queue_save" sortOrder="10" title="Save Queue"/>
					<resource id="Adcurve_Adcurve::Queue_delete" sortOrder="20" title="Delete Queue"/>
					<resource id="Adcurve_Adcurve::Queue_update" sortOrder="30" title="Update Queue"/>
					<resource id="Adcurve_Adcurve::Queue_view" sortOrder="40" title="View Queue"/>
				</resource>

			</resource>
		</resources>
	</acl>
</config>
