<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Magento_Backend::marketing_adcurve" title="Adcurve" translate="title" module="Adcurve_Adcurve"
			sortOrder="0" parent="Magento_Backend::marketing" resource="Magento_Backend::marketing" />
		<add id="Adcurve_Adcurve::connection" title="Connections" translate="title" module="Adcurve_Adcurve"
			sortOrder="10" parent="Magento_Backend::marketing_adcurve"
			action="adcurve_adcurve/connection/index" resource="Adcurve_Adcurve::connection" />
		<add id="Adcurve_Adcurve::settings" title="Settings" translate="title" module="Adcurve_Adcurve"
			sortOrder="20" parent="Magento_Backend::marketing_adcurve"
			action="adminhtml/system_config/edit/section/adcurve" resource="Magento_Backend::stores_settings" />
	</menu>
</config>