<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<!-- Directly after sales tab -->
		<tab id="adcurve" sortOrder="401" translate="label">
			<label>Adcurve</label>
		</tab>
		<section id="adcurve" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10" translate="label">
			<label>Settings</label>
			<tab>adcurve</tab>
			<resource>Adcurve_Adcurve::config_adcurve_adcurve</resource>
			<group id="support" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10" translate="label">
				<label><![CDATA[General & Support]]></label>
				<field id="support" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10" translate="label">
					<frontend_model>Adcurve\Adcurve\Block\System\Config\Fieldset\SupportTab</frontend_model>
				</field>
				<!-- Disabled, but commented for possible future usage.
				<field id="installation_guide_url" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="20" translate="label" type="text">
					<label>Installationguide url</label>
					<frontend_model>Adcurve\Adcurve\Block\System\Config\Form\Field\Disable</frontend_model>
				</field>
				<field id="release_notes_url" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="30" translate="label" type="text">
					<label>Releasenotes url</label>
					<frontend_model>Adcurve\Adcurve\Block\System\Config\Form\Field\Disable</frontend_model>
				</field>
				<field id="adcurve_kb_url" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="40" translate="label" type="text">
					<label>Adcurve Knowledgebase url</label>
					<frontend_model>Adcurve\Adcurve\Block\System\Config\Form\Field\Disable</frontend_model>
				</field>
				<field id="new_ticket_url" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="50" translate="label" type="text">
					<label>New ticket url</label>
					<frontend_model>Adcurve\Adcurve\Block\System\Config\Form\Field\Disable</frontend_model>
				</field>
				<field id="publishers" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="60" translate="label" type="text">
					<label>Publishers</label>
					<frontend_model>Adcurve\Adcurve\Block\System\Config\Form\Field\Disable</frontend_model>
				</field>
				<field id="features" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="70" translate="label" type="text">
					<label>Features url</label>
					<frontend_model>Adcurve\Adcurve\Block\System\Config\Form\Field\Disable</frontend_model>
				</field>
				<field id="pricing" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="80" translate="label" type="text">
					<label>Pricing url</label>
					<frontend_model>Adcurve\Adcurve\Block\System\Config\Form\Field\Disable</frontend_model>
				</field>
				<field id="documentation" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="90" translate="label" type="text">
					<label>Documentation url</label>
					<frontend_model>Adcurve\Adcurve\Block\System\Config\Form\Field\Disable</frontend_model>
				</field>
				<field id="email" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100" translate="label" type="text">
					<label>Email address</label>
					<frontend_model>Adcurve\Adcurve\Block\System\Config\Form\Field\Disable</frontend_model>
				</field>
				<field id="phone" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="110" translate="label" type="text">
					<label>Phonenumber</label>
					<frontend_model>Adcurve\Adcurve\Block\System\Config\Form\Field\Disable</frontend_model>
				</field>
				-->
			</group>
			<group id="settings" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="40" translate="label">
				<label><![CDATA[General settings]]></label>
				<field id="enabled" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10" translate="label" type="select">
					<label>Module enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				
				
				<field id="enabled_features" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10" translate="label" type="select">
					<label>Enable Adcurve Features</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>If this is set to yes, adcurve will enable the other features(1- Show Adcurve's columns in Sales order list, 2- Enable the "Check/Money-order" payment method).</comment>        
				</field>
				
				
				<!-- Deprecated since Magento 2 plugin
				<field id="test_mode" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="20" translate="label" type="select">
					<label>Test modus</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="shop_id" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="30" translate="label" type="text">
					<label>Adcurve shop ID</label>
				</field>
				<field id="token" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="40" translate="label" type="text">
					<label>Adcurve shop token</label>
				</field>
				<field id="sync" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="50" translate="label" type="text">
					<label>Synchonise all products</label>
				</field>
				<field id="save" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="60" translate="label" type="text">
					<label>Save settings</label>
				</field>
				<field id="url_register_live" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="70" translate="label" type="text">
					<label>Live register url</label>
					<frontend_model>Adcurve\Adcurve\Block\System\Config\Form\Field\Disable</frontend_model>
				</field>
				<field id="url_tag_live" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="80" translate="label" type="text">
					<label>Live tracking tag url</label>
					<frontend_model>Adcurve\Adcurve\Block\System\Config\Form\Field\Disable</frontend_model>
				</field>
				<field id="url_register_test" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="90" translate="label" type="text">
					<label>Test register url</label>
					<frontend_model>Adcurve\Adcurve\Block\System\Config\Form\Field\Disable</frontend_model>
				</field>
				<field id="url_tag_test" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="100" translate="label" type="text">
					<label>Test tracking tag url</label>
					<frontend_model>Adcurve\Adcurve\Block\System\Config\Form\Field\Disable</frontend_model>
				</field>
				-->
			</group>
			<group id="api" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="50" translate="label">
				<label><![CDATA[Api settings]]></label>
				<field id="update_url_live" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="10" translate="label" type="text">
					<label>Live update url</label>
					<frontend_model>Adcurve\Adcurve\Block\System\Config\Form\Field\Disable</frontend_model>
				</field>
				<field id="status_url_live" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="20" translate="label" type="text">
					<label>Live status url</label>
					<frontend_model>Adcurve\Adcurve\Block\System\Config\Form\Field\Disable</frontend_model>
				</field>
				<field id="update_url_test" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="30" translate="label" type="text">
					<label>Test update url</label>
					<frontend_model>Adcurve\Adcurve\Block\System\Config\Form\Field\Disable</frontend_model>
				</field>
				<field id="status_url_test" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="40" translate="label" type="text">
					<label>Test status url</label>
					<frontend_model>Adcurve\Adcurve\Block\System\Config\Form\Field\Disable</frontend_model>
				</field>
				<!--
				<field id="role_created_failed" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="50" translate="label" type="text">
					<label>Role creation failed help url</label>
					<frontend_model>Adcurve\Adcurve\Block\System\Config\Form\Field\Disable</frontend_model>
				</field>
				-->
			</group>
			
			
			
		</section>
		
		
		<section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="adcurveshipping" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
					
					
				<label>Adcurve API (please do not change)</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="name" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Method Name</label>
                </field>
                
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="sallowspecific" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="91" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
               
					<!--
					<label>Adcurve API (please do not change)</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>                
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>Adcurve\Adcurve\Block\Adminhtml\System\Config\Form\Field\Disabled</frontend_model> 
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[This shipping method serves as gimmick to make order import for Adcurve possible]]></comment>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <name translate="label">
                            <label>Method Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </name>
                        <sallowspecific translate="label">
                            <label>Ship to applicable countries</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>Adcurve\Adcurve\Block\Adminhtml\System\Config\Form\Field\Disabled</frontend_model>
                            <sort_order>90</sort_order>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>  
							<show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sallowspecific>
                        <specificcountry translate="label">
                            <label>Ship to Specific countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <frontend_model>Adcurve\Adcurve\Block\Adminhtml\System\Config\Form\Field\Disabled</frontend_model>
                            <sort_order>91</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </specificcountry>
                    </fields>-->
		
		    </group>
        </section>
		<section id="payment">
            <group id="adcurvepayment" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
             
				<label>Adcurve API (please do not change)</label>
				<field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
					<label>Title</label>
				</field>
				<field id="order_status" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="select">
					<label>New Order Status</label>
					<source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
				</field>
				<field id="allowspecific" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="allowspecific">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
				</field>
				<field id="specificcountry" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="multiselect">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
				</field>
				
		 </group>
        </section>
		
		
		
	</system>
</config>
